body {
    background-color:rgb(239, 225, 191);
    text-align: center;
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
}

.square {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#controls {
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-bottom: 20px
}

button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    
    background: #2989e9;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    /* smooth animations */
    transition: all 0.2s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

button:hover {
    background: #0d2e51;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}
